
.form h1 {
  margin-top: 60px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 3rem;
  margin-bottom: -50px;
  color: var(--text-color);
 }

.container-wrapper {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(---second-background);
}

.wrapper{
    width: 900px;
    background-color: var(---second-background);
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    align-items: center;
  }
  .wrapper form{
    padding: 10px 30px 50px 30px;
    background-color: var(---second-background);
  }
  .wrapper form .field{
    height: 50px;
    width: 50%;
    margin-top: 20px;
    position: relative;   
  }
  .wrapper form .field input{
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 1.3rem;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
    border-color: #3F3F3F;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 1.3rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .wrapper form .form-row{
    display: flex;
    margin: 32px 0;
  }

  .form .button-green{
    margin-left: 610px;
  }