<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend">
    <script src="/js/font_size_increase.js"> </script>
    <script src="/js/dark_mode_toggle.js"> </script>
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon.png">
    <title>iBichos | Admin</title>
  </head>

  <body>
    <header id="navbar">
      <img src="/icons/logo.png" class="logo">
      <nav>
        <ul>
          <li class="navbar-item <% if(url == '/admin/customers') { %>active<% } %>"><a class="navbar-link" href="/admin/customers">Consumidores</a></li>
          <li class="navbar-item <% if(url == '/admin/merchants') { %>active<% } %>"><a class="navbar-link" href="/admin/merchants">Lojistas</a></li>
          <li class="navbar-item <% if(url == '/admin/products') { %>active<% } %>"><a class="navbar-link" href="/admin/products">Produtos</a></li>
        </ul>
      </nav>
      <img src="/icons/minus.png" width="24" height="24" class="decrease_font"></img>
      <img src="/icons/plus.png" width="24" height="24" class="increase_font"></img>
      <img src="/icons/lamp.png" width="32" height="32" class='dark_toggle'></img>
      
      <a href="/admin/logout">Sair</a>
  
    </header>

    <%- content %>
  </body>
</html>