<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/consumer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend">
    <script src="/js/font_size_increase.js"> </script>
    <script src="/js/dark_mode_toggle.js"> </script>

    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon.png">
    <title>iBichos</title>
  </head>

  <body>
    <header id="navbar">
      <img src="/icons/logo.png" class="logo">
      <input id="navbar-search" type="text">
      <nav>
        <ul>
          <li class="navbar-item <% if(url == '/') { %>active<% } %>"><a class="navbar-link" href="/">Início</a></li>
          <li class="navbar-item <% if(url == '/products') { %>active<% } %>"><a class="navbar-link" href="/products">Produtos</a></li>
        </ul>
      </nav>
      <img src="/icons/minus.png" width="24" height="24" class="decrease_font"></img>
      <img src="/icons/plus.png" width="24" height="24" class="increase_font"></img>
      <img src="/icons/lamp.png" width="32" height="32" class='dark_toggle'></img>

      <div id="navbar-consumer-area">
        <a href="/shopping_cart">
          <div id="navbar-cart" class="">
            <img src="/icons/shopping-cart.png" width="32" height="32" alt="shopping-cart">
            <span id="navbar-cart-counter" class="hidden">
              <% if (shopping_cart) { %> 
               <%= shopping_cart.length %>
              <% } else { %>
                0
              <% } %>
            </span>
          </div>
        </a>
        <% if (session.isSignedIn) { %>
          <div class="dropdown">
            <button class="dropbtn navbar-button"><img src="/icons/profile.png" width="32" height="32" alt="profile"></button>
            <div class="dropdown-content">
              <a href="/profile">Meu perfil</a>
              <a href="/purchases">Minhas compras</a>
              <hr>
              <a href="/logout">Sair</a>
            </div>
          </div>
        <% } else { %>
          <a href="/login" class="button-green-small">Login</a>
        <% } %>
      </div>       
    </header>

    <%- content %>
  </body>
</html>
