<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/consumer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon.png">
    <title>iBichos</title>
  </head>

  <body>
    <header id="navbar">
      <img src="/icons/logo.png" class="logo">
      <input id="navbar-search" type="text">
      <nav>
        <ul>
          <li class="navbar-item <% if(url == '/') { %>active<% } %>"><a class="navbar-link" href="/">Início</a></li>
          <li class="navbar-item <% if(url == '/products') { %>active<% } %>"><a class="navbar-link" href="/products">Produtos</a></li>
        </ul>
      </nav>
      
      <div id="navbar-consumer-area">
        <a href="/shopping_cart">
          <div id="navbar-cart" class="">
            <img src="/icons/shopping-cart.png" width="32" height="32" alt="shopping-cart">
            <span id="navbar-cart-counter" class="hidden">
              <% if (shopping_cart) { %> 
               <%= shopping_cart.length %>
              <% } else { %>
                0
              <% } %>
            </span>
          </div>
        </a>
        <% if (session.isSignedIn) { %>
          <div class="dropdown">
            <button class="dropbtn navbar-button"><img src="/icons/profile.png" width="32" height="32" alt="profile"></button>
            <div class="dropdown-content">
              <a href="/profile">Meu perfil</a>
              <a href="/purchases">Minhas compras</a>
              <hr>
              <a href="/logout">Sair</a>
            </div>
          </div>
        <% } else { %>
          <a href="/login" class="button-green-small">Login</a>
        <% } %>
      </div>       
      
      <button class="increase_font">
        +     
      </button>
      <button class="decrease_font">
        -
      </button>
    </header>

    <%- content %>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('html').style.fontSize = localStorage.getItem('font-size')
  })

  document.querySelector('.increase_font').addEventListener( 'click', () => {
    const documentStyle = getComputedStyle(document.querySelector('html'))

    let nextValue = Math.min(parseInt(documentStyle.fontSize), 30) + 2
    document.querySelector('html').style.fontSize = `${nextValue}px`
    
    localStorage.setItem('font-size', `${nextValue}px`)
  })

  document.querySelector('.decrease_font').addEventListener( 'click', () => {
    const documentStyle = getComputedStyle(document.querySelector('html'))

    let nextValue = Math.max(parseInt(documentStyle.fontSize), 16) - 2
    document.querySelector('html').style.fontSize = `${nextValue}px`

    localStorage.setItem('font-size', `${nextValue}px`)
  })
</script>