<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/merchant.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon.png">
    <title>iBichos | Lojista</title>
  </head>

  <body>
    <header id="navbar">
      <img src="/icons/logo.png" class="logo">
      <nav>
        <ul>
          <li class="navbar-item <% if(url == '/merchant/orders') { %>active<% } %>"><a class="navbar-link" href="/merchant/orders">Pedidos</a></li>
          <li class="navbar-item <% if(url == '/merchant/products') { %>active<% } %>"><a class="navbar-link" href="/merchant/products">Produtos</a></li>
        </ul>
      </nav> 
  
      <div class="dropdown">
        <div id="navbar-merchant-profile">
          <img  src="/icons/profile.png" width="32" height="32" alt="Icone contido em um botão que leva ao perfil do vendedor ao clicar.">
        </div>
        <div class="dropdown-content">
          <a href="/merchant/profile">Meu perfil</a>
          <hr>
          <a href="/logout">Sair</a>
        </div>
      </div>
    </header>

    <%- content %>
  </body>
</html>