<%- contentFor('content') %>

<section>
  <h2>Clientes cadastrados</h2>
  <div class="body">
    <table>
      <tr>
        <th>Cliente</th>
      </tr>
      <% merchants.forEach((merchant) => { %>
        <tr>
          <td><a href="/admin/merchant/<%= merchant.id %>"><%= merchant.username %></a></td>
          <td>
            <form method="POST" action="/admin/merchant/<%= merchant.id %>?_method=DELETE">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </table>
  </div>
</section>