<%- contentFor('content') %>

<section>
  <h2>Histórico de pedidos</h2>
  <table>
    <tr>
      <th>Produtos</th>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
    <tr>
      <td>Ração para gatos 2kg</td>
      <td>Ração para gatos de alta qualidade com adicionais de vitamina A e B.</td>
      <td>R$ 16,50</td>
    </tr>
    <tr>
      <td>Brinquedo para cães pequeno</td>
      <td>Brinquedo de plastico macio com bolinhas.</td>
      <td>R$ 50,50</td>
    </tr>
    <tr>
      <td>Coleira para cães tamanho pequeno</td>
      <td>Coleira azul para cães de pequeno porte.</td>
      <td>R$ 20,20</td>
    </tr>
  
  </table>
</section>