<%- contentFor('content') %>
<link rel="stylesheet" type="text/css" href="index.css" />

<div class="slideshow">
      <h1 class="title">Os melhores produtos para o seu pet</h1>
      <h2 class="subtitle">Conheça os melhores produtos para o seu pet na melhor plataforma online do Brasil. Encontre tudo que precisa com os melhores preços.</h2>
    </div>

    <div class="main_section">
      <h1>Mais vendidos</h1>
    
      <div class='items'>
        <a href="../catalogue/show.html" class="item">
          <div class="image-container">
            <img src="https://50192.cdn.simplo7.net/static/50192/sku/cachorro-racao-golden-formula-mini-bits-para-cachorro-adulto-carne-e-arroz--p-1590533328758.jpg" class="image" alt="product-image">
          </div>
          <div class="item-details">
            <h2 class="title">Ração Golden 15 Kg</h2>
            <h3>R$ 58,80</h3>
          </div>
        </a>
    
        <a href="../catalogue/show.html" class="item">
          <div class="image-container">
            <img src="https://m.media-amazon.com/images/I/81rJbUv0OkL._AC_SL1500_.jpg" class="image" alt="product-image">
          </div>
          <div class="item-details">
            <h2 class="title">Ração Golden 20 Kg</h2>
            <h3>R$ 151,05</h3>
          </div>
        </a>    
    
        <a href="../catalogue/show.html" class="item">
          <div class="image-container">
            <img src="https://images.tcdn.com.br/img/img_prod/692622/coleira_de_pescoco_com_guia_de_corda_para_caes_de_grande_porte_99_1_20190327121737.jpeg" class="image" alt="product-image">
          </div>
          <div class="item-details">
            <h2 class="title">Coleira para Cães de Grande Porte</h2>
            <h3>R$ 40,60</h3>
          </div>
        </a>
  
        <a href="../catalogue/show.html" class="item">
          <div class="image-container">
            <img src="https://cf.shopee.com.br/file/3629f9d3ee867fb912e0a2db40d136e3" class="image" alt="product-image">
          </div>
          <div class="item-details">
            <h2 class="title">Coleiras para Gatos</h2>
            <h3>R$ 6,99</h3>
          </div>
        </a>
    
      </div>
    
      <a href="../catalogue/index.html" class="button">
        Ver mais
        <div class="icon">➡️</div>
      </a>
    </div>