.order-items {
  margin: 10px 0px;
  border: 1px solid var(--nav-color);
  border-radius: 5px;
}

.order-item {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}

.order-item > .info {
  display: flex;
  align-items: center;
}

.order-item > .info > .image {
  width: 50px;
  height: 50px;
}

.order-item > .info > .name {
  margin-left: 10px;
}

.order-item > .values {
  text-align: right;
}