@import "base/dropdown-menu.css";
@import "base/header.css";
@import "base/table.css";
@import "base/form-field.css";
@import "base/wrapper.css";
@import "base/buttons.css";

* {
  padding: 0;
  margin: 0;
  font-family: 'Lexend';
  color: #1c1c1c;
}

a {
  text-decoration: none;
}


/* Solid border */
hr.solid {
  border-top: 2px solid #bbb;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-bottom: 15px;
  border-color: #88ccf1;
}

h4 {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

h4:hover {
  color: #E82A2A;
  transition-duration: 0.3s;
}