@import "base/dropdown-menu.css";
@import "base/header.css";
@import "base/table.css";
@import "base/form-field.css";
@import "base/wrapper.css";
@import "base/buttons.css";

:root {
  --nav-color: #d5f3f9;
  --text-color: #1c1c1c;
  --background-color: #FFF;
  --second-background: #FFF;
  --border-color: rgba(0, 0, 0, 20%);
  --active-item: #3f3f3f;
  --lateral-menu: #fbfefb;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  --nav-color: #3f3f3f !important;
  --text-color: #EEE !important;
  --background-color: #000 !important;
  --second-background: #3F3F3F !important;
  --border-color: rgba(255, 255, 255, 20%) !important;
  --active-item: #FFF !important;
  --lateral-menu: #3f3f3f !important;
}

main {
  background-color: var(--background-color);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Lexend';
  color: #1c1c1c;
}

a {
  text-decoration: none;
}


hr.solid {
  border-top: 2px solid #bbb;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-bottom: 15px;
  border-color: #88ccf1;
}

p{
  color: var(--text-color);
}

h1{
  color: var(--text-color);
}

h2{
  color: var(--text-color);
}

h3{
  color: var(--text-color);
}

h4 {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

h4:hover {
  color: #E82A2A;
  transition-duration: 0.3s;
}

td{
color: var(--text-color);
}

td > a{
  color: var(--text-color);
}

small {
  color: var(--text-color)
}

label{
  color: var(--text-color); 
  font-size: 17px;
  padding-right: 30px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: var(--text-color);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.delete{
  color: var(--text-color);
}