@import "base/dropdown-menu.css";
@import "base/header.css";
@import "base/table.css";
@import "base/form-field.css";
@import "base/wrapper.css";
@import "base/buttons.css";

:root {
  --nav-color: #d5f3f9;
  --text-color: #1c1c1c;
  --background: #FFF;
  --second-background: #FFF;
  --border-color: rgba(0, 0, 0, 20%);
  --active-item: #3f3f3f;
  --lateral-menu: #fbfefb;
}

body {
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  --nav-color: #3f3f3f !important;
  --text-color: #EEE !important;
  --background: #000 !important;
  --second-background: #3F3F3F !important;
  --border-color: rgba(255, 255, 255, 20%) !important;
  --active-item: #FFF;
  --lateral-menu: #3f3f3f !important;
}

/* ###### */

* {
  padding: 0;
  margin: 0;
  font-family: 'Lexend';
  color: #1c1c1c;
}

a {
  text-decoration: none;
}


/* Solid border */
hr.solid {
  border-top: 2px solid #bbb;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-bottom: 15px;
  border-color: #88ccf1;
}

h1{
  color: var(--text-color);
}
h2{
  color: var(--text-color);
}

h3{
  color: var(--text-color);
}

h4 {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

h4:hover {
  color: #E82A2A;
  transition-duration: 0.3s;
}