@import "base.css";
@import "merchant/orders.css";
@import "merchant/order-items.css";

section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}