/* Items */
.items {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background);
  margin-left: 50px;
  padding-top: 30px;
}

.item {
  background-color: var(--second-background);
  color: var(--text-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-right: 15px;
  width: 22ch;
  height: 22em;
  font-size: 1.2rem;
  display: flex;
  flex-flow: column;
}

.image-container {
  padding-top: 5%;
  height: 50%;
}

.image {
  height: 80%;
}

.item-details {
  height: 45%;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.item-details h4 {
}