.order-items {
  margin-top: 10px;
  border: 1px solid var(--nav-color);
  border-radius: 5px;
}

.order-item {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: var(--text-color);
  padding: 10px;
}

.order-item > .info {
  display: flex;
  color: var(--text-color);
  align-items: center;
}

.order-item > .info > .image {
  width: 50px;
  height: 50px;
}

.order-item > .info > .name {
  margin-left: 10px;
  color: var(--text-color);
}

.order-item > .values {
  text-align: right;
  color: var(--text-color);
  
}


.product_price, .product_info, .product_qtd {
  color: var(--text-color)
}