.order-container {
  height: 100vh;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.order-container  a {
  color: var(--text-color)
}

.orders {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 50px auto;
}

.order {
  margin-right: 50px;
  width: 50%;
  margin-top: 20px;
  box-shadow: 0 0 2px 0 #bababa;
  border-radius: 5px;
}

.order > .header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--background-color);
}

.order > .header > .left {
  display: flex;
  justify-content: space-between;
  width: 300px;

}

.order > .header > .right {
  text-align: right;
}

.order > .header > .right > a {
  color: #557c65;
}

.order > .body {
  padding: 15px;
}

.order > .body > .product_list > .product{
  width: 800px;
  max-height: 100%;
  
}