#search-container {
    display: block;
}

#suggestion-list {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #fcfcfc;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: absolute;
    list-style: none;
    top:0; left:0;
    border-radius: 5px;
}

#suggestion-list li a:hover:not(.header) {
    background-color: #eee;
}

#search-field[type=text] {
    float: right;
    padding: 1%;
    border: solid;
    border-color: #deeaec;
    border-radius: 10px;
    font-size: 20px;
    width: 30%;
    height: 30px;
    background: url(../../icons/search.png) no-repeat;
    background-position: right 3% center;
    background-size: 20px;
    background-color: #fffdf9;
}
  
#search-field:focus {
    outline: none;
}