<%- contentFor('content') %>
<h1> Meu perfil </h1>
<div class="wrapper">
  <form action="#">
     <div class="form-row">
        <div class="field">
           <input type="text" required>
           <label>Nome</label>
        </div>
        <div class="field">
           <input type="text" required>
           <label>CPF</label>
        </div>
     </div>
     <div class="form-row">
        <div class="field">
           <input type="text" required>
           <label>Endereço</label>
        </div>
        <div class="field">
           <input type="text" required>
           <label>Telefone</label>
        </div>
     </div>
     <div class="form-row">
     <div class="field">
        <input type="password" required>
        <label>E-mail</label>
     </div>
     <div class="field">
        <input type="password" required>
        <label>Senha</label>
     </div>
  </div>
  <div class="button-green">
     Salvar
  </div>
  </form>
  </div>