<%- contentFor('content') %>

<section> 
  <h1 id="product-title">Informações do Produto</h1>
  <form>
    <div class="row">
      <label for="product-name">Nome:</label>
      <input type="text" id="product-name" name="product-name">
    </div>
    <div class="row">
      <label for="product-price">Preço:</label>
      <input type="number" id="product-price" name="product-price">
    </div>
    <div class="row">
      <label for="product-description">Descrição:</label>
      <input type="text" id="product-description" name="product-description">
    </div>
    <div class="row">
      <label for="avatar">Escolha uma foto para o produto:</label>
      <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
    </div>
    <div class="row">
      <button id="save">Salvar</button>
    </div>
  </form>
</section>