<%- contentFor('content') %>

<section class="form">
  <h1> Informações do produto </h1>
  <div class = "container-wrapper">
    <div class="wrapper">
      <form action="#">
        <div class="form-row">
          <div class="field">
            <label for="avatar">Escolha uma foto para o produto:</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
          </div>
        </div>
        <div class="form-row">
          <div class="field">
            <input type="text" required>
            <label>Nome</label>
          </div>
          <div class="field">
            <input type="text" required>
            <label>Preço</label>
          </div>
        </div>
        <div class="form-row">
          <div class="field">
            <input type="text-area" required>
            <label>Descrição</label>
          </div>
        </div>
        
        <div class="button-green">
          Salvar
        </div>
      </form>
    </div>
  </div>
</section>